@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.App
{
  width: 100vw;
  height: 100vh;
  font-family: 'Times-new-roman', sans-serif;
}
.AlignCenter{
  justify-content: center;
  align-items: center;
  display: flex; 
}
.Header
{
  height: 10vh;
  font-weight: 500;
  font-size: 30px;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  background: rgb(24,135,206);
  background: linear-gradient(28deg, rgba(24,135,206,1) 0%, rgba(124,70,168,1) 48%, rgba(255,0,0,1) 100%);
}
.GameBoardContainer
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.row{
  display: flex;
  height: 15vh;
}
.cell{
  width: 15vh;
  border: solid 1px lightgray;
  color: white;
  font-size: 3.5rem;
  font-family: 'Times-new-roman', sans-serif;
  font-weight: 700;
}
.magenta{
  background-color: rgb(255, 140, 0);
}
.cornflowerblue{
  background-color: rgb(88, 133, 218);
}
button{
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(255,0,0,1);
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  transition: all .3s ;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.671);
  transform: scale(1.1);
  letter-spacing: 2px;
}
.content{
  font-size: 20px;
}
.game{
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
}
@media (max-width:500px) {
  .row{
    display: flex;
    height: 10vh;
  }
  .cell{
    width: 10vh;
  }
  .game{
    font-size: 35px;
  }
}
